@font-face {
    font-family: "Montserrat";
    font-style: medium;
    font-weight: 500;
    src: local("Montserrat"),
             url("Montserrat-Medium.woff2") format("woff2");
  }

body {
    font-family: 'Montserrat-Medium';
}