* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    min-height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 32px;
    margin-right: 32px;
}

.header__list {
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 627px;
    min-height: 16px;
    display: flex;
    justify-content: space-between;
}